h1{
    padding: 38px 25%;
}
#site1{
    padding: 38px 25%;
}
#site2{
    padding: 38px ;
}    
#site3{
    padding: 38px ;
}
#site4{
    padding: 38px ;
}
#site5{
    padding: 38px ;
}
img{
    height: 400px;
    width: 600px;
    padding: 12px 10%;
}

