body {
    margin: 0px;
    color: white;
}

body, html {
    height: 100%;
}

a {
    color: white;
}

#flex {
    background: steelblue;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* flex-wrap: wrap-reverse; */
}

#flex * {
    padding: 16px;
}

.filho {
    /* height: 100%; */
    flex: 1;
    align-self: flex-start;
}